.banner
{
  height:75vh;
  display:flex;
  justify-content:center;
  color:white;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/erezfriemagor/image/upload/v1565962576/computer-keyboard-connection-contemporary-1714208.jpg');
  background-size: 100% 100%;
  width:80vw;
  margin-left:232px;

}